<footer class="abwaab-footer">

    <div class="abwaab-footer-background"></div>

    <div class="abwaab-footer-overlay"></div>

    <div class="abwaab-footer-content">

        <div class="abwaab-footer-brand">


            <div class="abwaab-footer-brand-text">

                

                
            </div>

        </div>

        <div class="abwaab-footer-sections">

           

    <div class="abwaab-footer-bottom">

        <div>
        </div>

        <div class="abwaab-footer-status">

            <span class="footer-status-dot"></span>


        </div>

    </div>

</footer>